services:

  redis:
    image: redis:7.4
    restart: always
    container_name: misp-redis
    volumes:
      - misp_redis_data:/data

  misp-modules:
    image: ghcr.io/nukib/misp-modules:latest
    restart: always
    container_name: misp-modules
    cap_drop:
      - NET_RAW
      - SYS_CHROOT
      - MKNOD
      - NET_BIND_SERVICE
      - AUDIT_WRITE
      - SETFCAP

  misp:
    image: ${MISP_IMAGE-ghcr.io/nukib/misp:latest}
    restart: always
    container_name: misp
    depends_on:
      - redis
    tmpfs:
      - /tmp
    cap_drop:
      - NET_RAW
      - SYS_CHROOT
      - MKNOD
      - AUDIT_WRITE
      - SETFCAP
    # Just for debugging purposes
    #cap_add:
    #  - SYS_PTRACE
    env_file:
      - path: .env_s3
        required: false
    environment:
      DATABASE_URL: ${DATABASE_URL}
      MYSQL_HOST: ${MYSQL_HOST}
      MYSQL_LOGIN: ${MYSQL_LOGIN}
      MYSQL_PASSWORD: ${MYSQL_PASSWORD}
      MYSQL_DATABASE: ${MYSQL_DATABASE}
      REDIS_HOST: redis
      SERVICE_FQDN_MISP_8080:
      MISP_BASEURL: http://localhost:8080
      MISP_UUID: ${MISP_UUID}
      MISP_ORG: ${MISP_ORG}
      MISP_MODULE_URL: http://misp-modules
      MISP_EMAIL: ${MISP_EMAIL}
      SECURITY_SALT: ${SECURITY_SALT}
      ZEROMQ_ENABLED: yes
      SYSLOG_ENABLED: no
      ECS_LOG_ENABLED: yes
      MISP_DEBUG: yes
    volumes:
      - misp_logs:/var/www/MISP/app/tmp/logs/
      - misp_certs:/var/www/MISP/app/files/certs/
      - misp_attachments:/var/www/MISP/app/attachments/
      - misp_img_orgs:/var/www/MISP/app/files/img/orgs/
      - misp_img_custom:/var/www/MISP/app/files/img/custom/
      - misp_gnupg:/var/www/MISP/.gnupg/

volumes:
  misp_mysql_data:
  misp_redis_data:
  misp_logs:
  misp_certs:
  misp_attachments:
  misp_img_orgs:
  misp_img_custom:
  misp_gnupg:
